.input {
    width: 100%;
    height: 45px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid;
    border-color:rgb(51, 51, 51);
    border-radius: 10px;
    outline: transparent;
    transition-duration: 300ms;
}
.input:hover,
.input:focus {
    background-color: #ffffffa0;
    border-color: #ffffffa0;
}

.label {
    display: block;
    width: 100%;
}